
[data-theme="light"] {
  /* default (light) theme */
  color-scheme: light;
    --bg: #EEEEEE;
    --bg-light: #CBCDCD;
    --text: #41474E;
    --text-light: #646868;
    --accent: #D26878;
    --accent-light: #e08f67;
    --accent-text: var(--bg);
    --border: #646868;
    --link: #5690AF;
	--tag: royalblue;
}

[data-theme="dark"] {
  color-scheme: dark;
    --bg: #222529;
    --bg-light: #464949;
    --text: #D6D6D6;
    --text-light: #DBD5BC;
    --accent: #78B6AD;
    --accent-light: #87C9E5;
    --accent-text: var(--bg);
    --border: #DBD5BC;
    --link: #E2AEA2;
	--tag: lightgreen;
}

a.mytag {
	font-style: italic;
	color: var(--tag);
}
a.mytag:hover {
	background-color: var(--tag);
	color: var(--bg);
}

.snod {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 60px;
}
.snod.caption {
	margin-top: 0px;
	margin-bottom: 60px;
	text-align: center;
}

.greeting {
	margin-top: 40px;
	margin-bottom: 40px;
	border-color: transparent;
}

.greeting pre {
	border: 0px solid  black;
}
